<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/sakaguchi-0725/PromptBolt/blob/main/appcast.xml</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUPublicEDKey</key>
	<string>upQHmt++BbdiDL0UtRI8R/SdT0ZMPWMcS4YHDzB3Abw=</string>
</dict>
</plist>
